/* src/app/components/footer.module.css */
.footer {
  position: relative;
  border-bottom: 1px solid #171717;
  padding: 20px;
  margin: 20px;
  font-family: Georgia, serif;
  color: #171717;
  width: calc(100% - 40px); /* Account for margins */
  box-sizing: border-box;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #171717;
}

.title {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: #FFFFFF;
  padding: 0 20px;
  font-size: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.sectionTitle {
  margin: 0 0 10px 0;
}

.emailLink, .licenseLink {
  color: #171717;
  text-decoration: underline;
  cursor: pointer;
}

.instagramLink, .youtubeLink {
  color: #0096FF;
  text-decoration: underline;
  cursor: pointer;
  display: block;
}

.instagramLink {
  margin-bottom: 5px;
}

.sponsorText {
  margin: 0;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.bottomSection p {
  margin: 0;
}

.emailLink:hover,
.instagramLink:hover,
.licenseLink:hover,
.youtubeLink:hover {
  opacity: 0.8;
}